@{
    ViewBag.Title = "About";
}

<div>
    <h1>@ViewBag.Title</h1>
</div>

<p>This site is currently under construction by Jake Magill and Derek Coley. Please contact us via Facebook message if you find a bug or have a feature request</p>