.dutyPerformance {
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    width: 77px;
}

.dutyPerformance button.btn {
    outline: none;
}

.dutyStatus_MajorFail {
    background-image: url("/Resources/MajorFailed.png");
}

.dutyStatus_MinorFail {
    background-image: url("/Resources/MinorFailed.png");
}

.dutyStatus_Incomplete {
    background-image: none;
}

.todaysPerformance {
}

.dutyStatus_Complete {
    background-color: #E6FAE6;
}

.dutyStatus_Passed {
    background-image: url("/Resources/Passed.png");
}