@{
    ViewBag.Title = "Directory";
}
@model Vantage.Models.DirectoryViewModel
@section PageScripts
{
    <script src="@Url.Content("~/Scripts/directory.js")"></script>
}
@section PageStyles
{

}

<div>
    <h1>@ViewBag.Title</h1>
</div>

<div>
    <table>
        <tr>
            <td><@Model.TestVar</td>
        </tr>
    </table>
</div>


