@{
    ViewBag.Title = "MessageBoard";
}
@model Vantage.Models.MessageBoardModel
@section PageScripts
{
    <script src="@Url.Content("~/Scripts/messageBoard.js")"></script>
}
@section PageStyles
{

}

<div>
    <h1>Message Board</h1>
</div>
