@{
    ViewBag.Title = "Fines";
}
@model Vantage.Models.FinesViewModel
@section PageScripts
{
    <script src="@Url.Content("~/Scripts/fines.js")"></script>
}
@section PageStyles
{

}

<div>
    <h1>@ViewBag.Title</h1>
</div>
