@{
    ViewBag.Title = "HousePoints";
}
@model Vantage.Models.HousePointsViewModel
@section PageScripts
{
    <script src="@Url.Content("~/Scripts/housePoints.js")"></script>
}
@section PageStyles
{

}

<div>
    <h1>House Points</h1>
</div>
